/* test */
html {
    width: 100%; height: 100%;
}

body {
    display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;
}

#login_banner {
    border: solid 1px black;display: flex; justify-content: center; align-items: center; flex-direction: column;
}

#wrap {
    display: flex; flex-direction: column; width: 100%; height: 100%; text-align: center;
}

#nav {
    width: 100%; text-align: right;
}

#mvwrap {
    width: 100%;
}


#seatwrap {
    width: 100%; border: 1px solid black; display: grid; justify-items: center;
}

