{% extends "home.html" %}

{% block title %}movie{% endblock %}

{% block add_style %}
<style>
  .contents {
    display: grid;
    border: 1px solid black;
    justify-items: center;
  }
  #steps {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  .col_body {
    display: flex;
    flex-direction: column;
  }

  #next_btn {
    grid-column: 1/-1;
  }
</style>
{% endblock %}

{% block contents %}
<div id="mvwrap">
  <form class="contents" id="steps" method="POST">
    <input type="hidden" name="member_email" value='{{email}}'>
    <div class="step mv_info">
      <div id="col_head">영화 선택</div>
      <div class="col_body">
        {% for mv in movies %}
        <span>
          <input type='radio' name='movie' class='movie'>
          <label for="movie" class='mv_title'>{{ mv }}</label>
          <span class='hidden_info' style="display: none; visibility: hidden;">{{ movies[mv] }}</span>
        </span>
        {% endfor %}
      </div>
    </div>
    <div class="step ci_info">
      <div id="col_head">영화관 선택</div>
      <div class="col_body">
        {% for cin in cinemas %}
        <span>
          <input type='radio' name='cinema' class='cinema'></input>
          <label for="cinema" class='cin_name'>{{ cin }}</label>
          <span class='hidden_info' style="display: none; visibility: hidden;">{{ cinemas[cin] }}</span>
        </span>
        {% endfor %}
      </div>
    </div>
    <div class="step date_info">
      <div id="col_head">날짜 선택</div>
      <div class="col_body">
        {% for item in dates %}
        <span>
          <input type='radio' name='date' class='date'></input>
          <label for="date">{{ item }}</label>
          <span class='hidden_info' style="display: none; visibility: hidden;">{{ item }}</span>
        </span>
        {% endfor %}
      </div>
    </div>
    <div class="step time_info">
      <div id="col_head">시간/상영관 선택</div>
      <div class="col_body">
        <span>영화, 영화관, 날짜를 선택해주세요.</span>
        <p></p>
      </div>
    </div>
    <input type="submit" id='next_btn' value="좌석 선택">
  </form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  const mv_radios = document.querySelectorAll(".movie"),
    cin_radios = document.querySelectorAll(".cinema"),
    dat_radios = document.querySelectorAll(".date");
  
  function paintOthers(id, Checked){
    if (Checked == 'movie') {
      // cin 중에
      cin_radios.forEach( cin => {
        cinSpan = cin.parentNode;
        console.log(cinSpan);
      })
      
    } else if (Checked =='cinema') {

    } else {

    }

  }

  function handleChecked() {
    const mv = event.target, 
      mSpan = mv.parentNode,
      info = mSpan.querySelector(".hidden_info").textContent;

    // 모두 체크되었을 때 시간/상영관 선택 step 열림 
    const radios = document.querySelectorAll('input[type="radio"]');
    let count = 0
    radios.forEach(element => {
      if (element.checked == true) {
        count += 1; 
      };
    });
    if(count == 3) {
      console.log("모두 하나씩 checked");
      // input 태그 생성하기 
    }
    const whichChecked = mv.className; 
    console.log(whichChecked, "checked");
    console.log(info);
    paintOthers(id, whichChecked);
  }

  function init() {
    mv_radios.forEach(Element => Element.addEventListener('click', handleChecked));
    cin_radios.forEach(Element => Element.addEventListener('click', handleChecked));
    dat_radios.forEach(Element => Element.addEventListener('click', handleChecked));
  }

  init();
</script>
{% endblock %}