{% extends "home.html" %}

{% block title %}movie{% endblock %}

{% block add_style %} 
<style>
#steps_old {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  justify-items: center; 
  border: 1px solid black;
}
.col_body {
  display: flex; 
  flex-direction: column;
}

#button_old {
  grid-column: 1/-1;
}
</style>
{% endblock %}

{% block contents %}
<div id="mvwrap">
  <form id="steps" method="POST">
    <div class="step mv_info">
      <div id="col_head">영화 선택
        <input type="submit" value="저장">
      </div>
      <div class="col_body">
        {% for item in movies %}
        <span><input type='radio' name='movie'>{{ item }}</input></span>
        {% endfor %}
      </div>
    </div>
    <div class="step ci_info">
      <div id="col_head">영화관 선택
        <input type="submit" value="저장">
      </div>
      <div class="col_body">
        {% for item in cinemas %}
        <span><input type='radio' name='cinema'>{{ item }}</input></span>
        {% endfor %}
      </div>
    </div>
    <div class="step date_info">
      <div id="col_head">날짜 선택
        <input type="submit" value="저장">
      </div>
      <div class="col_body">
        {% for item in dates %}
        <span><input type='radio' name='date'>{{ item }}</input></span>
        {% endfor %}
      </div>
    </div>
    <div class="step time_info">
      <div id="col_head">시간/상영관 선택
        <input type="submit" value="저장">
      </div>
      <div class="col_body">
        <span>영화, 영화관, 날짜를 먼저 선택해주세요.</span>
        {% for item in theaters %}
        {% endfor %}
      </div>
    </div>
    <button>좌석 선택</button>
  </form>
</div>
{% endblock %}

