{% extends "home.html" %}

{% block title %}movie{% endblock %}

{% block add_style %}
<style>
  .contents {
    display: grid;
    border: 1px solid black;
    justify-items: center;
  }

  .ticket_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }

</style>
{% endblock %}

{% block contents %}
<div id="mvwrap" class="contents">
  <form action="" method="post">
    <input type="hidden" name="member_email" value='{{email}}'>
    <span>{결제 완료:} {결제 미완료:}</span>
    <div id="ticet_info">
      <!-- { for ticket in tickets } -->
        <div class='mv_title'>{ ticket_id, movie_title, cinema_name, cinema_address, theater_floor, theater_room_num, seat_col, seat_row, price}</div>
        <span class='hidden_info' style="display: none; visibility: hidden;">{ movie_schedule_id }</span>
        {if ticket_is_paid}
        <input type="submit" value="결제하기">
        {else}
        <span>결제완료</span>
        {endif}
      <!-- { endfor } -->
    </div>
  </form>
{% endblock %}
