<!DOCTYPE html>
<html lang="en" style='width: 100%; height: 100%;'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>
<body style="width: 100%; height: 100%;">
    <div id="wrap" style='display: flex; flex-direction: column; width: 100%; height: 100%; text-align: center;'>
      <!--header-->
      <div id="header">Christmas CINEMA</div>
      <!--예매 내역 확인 버튼, 000 님-->
      <div id="nav" style='width: 100%; text-align: right;'>
        000 님 
        <button>예매 내역 확인</button>
      </div>
      <!--content-->
      <div id="mvwrap" style='width: 100%; border: 1px solid black; display: grid; justify-items: center;'>
        <div style='width: 100%; display: flex; justify-content: center;'>
          <div>(예매내역 1)</div>
          <button id="pay_btn">결제하기</button>
        </div>
      </div>
      <!--next step-->
      <div id="footer">
        <button id="btn">추가 예매하기</button>
      </div>
    </div>
  </body>
</html>